.radix-themes {
  --default-font-family: var(--font-geist-sans);
  --code-font-family: var(--font-geist-mono);
  --em-font-family: var(--font-geist-sans);
}

:root, .light, .light-theme {
  --color-page-background: var(--gray-2);
}

.dark, .dark-theme {
  --color-page-background: var(--gray-1);
}